[submodule "themes/casper3"]
	path = themes/casper3
	url = https://github.com/jonathanjanssens/hugo-casper3-demo.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
